body {
	padding: 40px;
	background: #fdfaf1;
	color: rgb(0, 0, 0);
}

h1 {
	font-family: 'Space Mono';
	font-size: 48px;
	font-weight: 300;
	color: #999;
	text-align: center;
}

#notSupported {
	display: none;
}

#notSupported h1 {
	color: #b41a1a;
	margin-bottom: 20px;
}

#notSupported img {
	display: block;
	margin: 0 auto;
}

#ascii {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: -1.5px;
	text-align: center;
	color: #397922;
	
}

#fork,
#bygek {
	display: block;
	position: fixed;
	z-index: 10;

	top: 0;
	right: 20px;
	padding: 10px 50px 10px 10px;

	background: url('../images/greencat.png') transparent no-repeat 95% 50%;
	border: 1px solid #397922;
	background-color: transparent;
	border-top: 0;

	font-family: "Space Mono", Icons;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	color: #397922;	

	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}

#bygek {
	border: 1px solid #397922;
	margin-right: 20px;
	border-top: 0;
	color: #397922;
	right: 200px;
	background: url('../images/g\ reduced.png') transparent no-repeat 95% 50%;

}

#bygek:hover {
	background:url('../images/g\ square\ logo\ white_.png') #397922 no-repeat 95% 50%;
	color: #fdfaf1;
  }





#fork:hover{
	background:url('../images/whitecat.png') #397922 no-repeat 95% 50%;
color: #fdfaf1;
  }

#button {
		display: none;
		margin: 20px auto;
		padding: 10px 20px;
		font-family: "Space Mono", Icons;
		border: 1px solid #397922;
		background-color: transparent;
		color: #397922;
		font-size: 18px;
		cursor:pointer;

}

#button:hover {
	background-color: #397922;
	color: #fdfaf1;
  }
  

  a:link
{
    color: #397922;
    text-decoration: none;
}


a:hover
{
    font-style: italic;
}